<div>
    <app-toolbar userToolbar="Administración"></app-toolbar>
</div>

<div class="container-table" fxLayout="column" fxLayoutAlign="center center">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef> Apellidos</th>
            <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Typo</th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>


        <ng-container matColumnDef="textExpenceSheet">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button (click)="goIndividualExpenseSheet()" mat-stroked-button>{{element.textExpenceSheet}}</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <button (click)="goOverhead()" mat-raised-button fxLayoutAlign="center" class="overhead-button" color="accent">Hoja de gastos generales</button>
    <button (click)="goAddMedication()" mat-raised-button fxLayoutAlign="center" class="overhead-button" >Alta medicamentos</button>

</div>

