.mat-typography {

}

.container-cards {
    width: 100%;

}

.container-title {
    width: 100%;;
}

.card {
    width: 100%;
}

.container-child-card {
    width: 25%;
    height: 100%;
    min-height: 50%;
}