<mat-dialog-content class="mat-typography" fxLayout="column" fxLayoutAlign="center center">



    <div fxLayout="row" fxLayoutAlign="space-around" class="container-cards">

        <div fxLayout="column" class="container-child-card">

            <h3>Nombre (s)</h3>
        <mat-card class="card">

        </mat-card>
        </div>

        <div fxLayout="column" class="container-child-card">
            
            <h3>Apellidos</h3>
        <mat-card class="card">

        </mat-card>
        </div>

        <div fxLayout="column" class="container-child-card">
            
            <h3>Diagnostico</h3>
        <mat-card class="card">

        </mat-card>
        </div>


    </div>

    <div fxLayout="row" fxLayoutAlign="space-around" class="container-cards">

        <div fxLayout="column" class="container-child-card">

            <h3>Signos Vitales</h3>
        <mat-card class="card">

        </mat-card>
        </div>

        <div fxLayout="column" class="container-child-card">
            
            <h3>Alergias</h3>
        <mat-card class="card">

        </mat-card>
        </div>

        <div fxLayout="column" class="container-child-card">
            
            <h3>Medicamento controlado</h3>
        <mat-card class="card">

        </mat-card>
        </div>


    </div>
    

</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="onNoClick()"  mat-raised-button>Volver</button>
</mat-dialog-actions>