.container-mat-card {
    width: 100%;

}

.mat-card {
    width: 80%;

}

.mat-title {
    width: 100%;

}


.img-logo {
    width: 300px;
}

.mat-content {
    width: 100%;
}

.margni-top {
    margin-top: 70px;
}

.margin-cero {
    margin: 0;
}

table {
    width: 30%;
  }

  .consumables-text {
      color: #1140FF;
  }