.container {
    width: 100%;

    .container-input-typeahead {
        width: 50%;

        .input-full-width {
            width: 100%;
        }
    }


}

.container-matcard {
    width: 50%;
    margin-top: 100px;
}

.matcard {
    width: 70%;
    height: 100%;
}

table {
    width: 100%;
  }