<mat-dialog-content class="mat-typography" fxLayout="column">

    <h3>Datos del Paciente</h3>
        <mat-form-field appearance="legacy">
          <mat-label>Nombre (s)</mat-label>
          <input  [formControl]="name" matInput >
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>Apellidos del Paciente</mat-label>
            <input [formControl]="lastnames" matInput>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Urgencia</mat-label>
            <input [formControl]="severity" matInput >
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <button (click)="addPatient()" mat-stroked-button class="button-save">Guardar</button>
          <button mat-stroked-button color="warn">Cancelar</button>
</mat-dialog-content>
