.container {
    width: 100%;
}

table {
    width: 100%;
  }

.container-matcard{

    width: 50%;
    height: 60vh;

  .mat-card {
    width: 70%;
    }  
}

.container-content-matcard {
    width: 100%;
}

.container-inputs {
    margin-top: 60px;
}

.container-button-add-medicine {
    width: 100%;
    margin-top: 60px;
}

.container-title-medication {
    width: 100%;
}